USE [master]
GO
/****** Object:  Database [PSOdb]    Script Date: 6/16/2016 1:35:26 PM ******/
CREATE DATABASE [PSOdb]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PSOdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PSOdb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/16/2016 1:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GROUP]    Script Date: 6/16/2016 1:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GROUP](
	[GROUP_ID] [int] NOT NULL,
	[GROUP_NUM] [int] NULL,
	[GROUP_NAME] [varchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GROUP_PLAN]    Script Date: 6/16/2016 1:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP_PLAN](
	[GROUP_PLAN_ID] [int] NOT NULL,
	[GROUP_ID] [int] NULL,
	[PLAN_ID] [int] NULL,
	[AMOUNT] [money] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PLAN]    Script Date: 6/16/2016 1:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAN](
	[PLAN_ID] [int] NOT NULL,
	[GROUP_ID] [int] NOT NULL,
	[PLAN_NUM] [int] NULL,
	[PLAN_NAME] [nvarchar](50) NULL,
	[PLAN_ADMIN] [nvarchar](50) NULL,
	[Amount] [money] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[GROUP] ([GROUP_ID], [GROUP_NUM], [GROUP_NAME]) VALUES (1, 20775, N'Demo Mutual Fund Group 1 ')
INSERT [dbo].[GROUP] ([GROUP_ID], [GROUP_NUM], [GROUP_NAME]) VALUES (2, 29607, N'Demo Mutual Fund Group 2 ')
INSERT [dbo].[GROUP] ([GROUP_ID], [GROUP_NUM], [GROUP_NAME]) VALUES (3, 34264, N'Demo Annuity & M F Group 1 ')
INSERT [dbo].[GROUP_PLAN] ([GROUP_PLAN_ID], [GROUP_ID], [PLAN_ID], [AMOUNT]) VALUES (1, 1, 1, 68944057.6300)
INSERT [dbo].[GROUP_PLAN] ([GROUP_PLAN_ID], [GROUP_ID], [PLAN_ID], [AMOUNT]) VALUES (2, 1, 2, 2917378.1600)
INSERT [dbo].[GROUP_PLAN] ([GROUP_PLAN_ID], [GROUP_ID], [PLAN_ID], [AMOUNT]) VALUES (3, 2, 3, 48820709.1700)
INSERT [dbo].[PLAN] ([PLAN_ID], [GROUP_ID], [PLAN_NUM], [PLAN_NAME], [PLAN_ADMIN], [Amount]) VALUES (1, 1, 101, N'Mutual Fund 403b', N'Smith, Joe', 68944057.6300)
INSERT [dbo].[PLAN] ([PLAN_ID], [GROUP_ID], [PLAN_NUM], [PLAN_NAME], [PLAN_ADMIN], [Amount]) VALUES (2, 1, 102, N'Mutual Fund 401a', N'Smith, Joe', 2917378.1600)
INSERT [dbo].[PLAN] ([PLAN_ID], [GROUP_ID], [PLAN_NUM], [PLAN_NAME], [PLAN_ADMIN], [Amount]) VALUES (3, 2, 103, N'Mutual Fund 401K', N'Smith, Joe', 48820709.1700)
/****** Object:  StoredProcedure [dbo].[GetGroups]    Script Date: 6/16/2016 1:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetGroups] 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	/****** Script for SelectTopNRows command from SSMS  ******/

SELECT [GROUP_ID]
      ,[GROUP_NUM]
      ,[GROUP_NAME]
  FROM [PSOdb].[dbo].[GROUP]

END

GO
/****** Object:  StoredProcedure [dbo].[GetPlansByGroup]    Script Date: 6/16/2016 1:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE  [dbo].[GetPlansByGroup] @GROUP_ID int
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	/****** Script for SelectTopNRows command from SSMS  ******/

SELECT [PLAN_ID]
      ,[GROUP_ID]
      ,[PLAN_NUM]
      ,[PLAN_NAME]
      ,[PLAN_ADMIN]
      ,[Amount]
  FROM [PSOdb].[dbo].[PLAN] WHERE GROUP_ID = @GROUP_ID


END

GO
USE [master]
GO
